.profile-image {
    height: 200px;
    margin: 0;
    float: left;
    margin-right: 20px;
    margin-bottom: 20px;
}
.header-logo {
    width: 100px;
    margin: 0;
    display: inline;
    margin-right: 5px;
}
.txt-small {
    font-size: 20px;
}
.line {
    margin: 0 auto;
}
