.profile-image {
    height: 200px;
    border-radius: 50%;
    margin: 0 auto;
}
.header-logo {
    width: 100px;
    margin: 0;
    display: inline;
    margin-right: 5px;
}
.txt-small {
    font-size: 1.5em;
    text-align: center;
}
.line {
    margin: 0 auto;
}

/* Share Bar */
#share-bar {
    font-size: 20px;
}

/* Title */
#share-bar h4 {
    margin-bottom: 10px;
    font-weight: 500;
}
.share-buttons a {
    text-decoration: none;
}

/* Each button */
.share-button {
    border: 1px #21ce99 solid;
    padding: 10px;
    border-radius: 50%;
    width: 2em;
    height: 2em;
    text-align: center;
    transition: all .2s ease-in;
    -webkit-transition: all .2s ease-in;
}
.share-button:hover {
    opacity: 1;
    color: #ffffff;
}

/* Facebook button */
.fa-facebook:hover {
    background-color: #3A5897;
}

/* Twitter button */

.fa-twitter:hover {
    background-color: #55acee;
}

/* Google-PLus button */
.fa-google-plus:hover {
    background-color: #dd4b39;
}
