<header class="header">
  <div class="navbar">
    <h1 class="title">
      <a href="{{ site.baseurl }}/"><img class="header-logo" src="/assets/img/john_logo.svg"></a>
    </h1>
    <nav class="menu">
      <ul class="nav">
        {% for page in site.pages %}
        {% if page.title and page.title != 'Home' %}
        <li><a href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a></li>
        {% endif %}
        {% endfor %}
      </ul>
    </nav>
  </div>

  <div class="overlay">
    {% if page.slug == 'home' %}
      <h1 class="txt-center">
        Hi, I am <strong>{{ site.title }}</strong>!<br>
        <p class="txt-small">Web development and UX/UI design.</p>
      </h1>
    {% endif %}
  </div>

</header>
